*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(rgb(95, 28, 1), rgb(115, 59, 37), rgb(95, 28, 1));

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.background{
    opacity: 30%;
    height: 90%;
    width: 90%;
    position: absolute;
    left: 70px;
    top: 50px;
}

header{
    height: 10%;
    width: 100%;
    padding: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

.header-text{
   font-size: 25px;
   color: white;
}

main{
    height: 80%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.text{
    font-size: 80px;
    color: white;
    width: 400px;
    position: absolute;
    left: 450px;

}

.garrafa{
    height: 85%;
    position: absolute;
    left: 550px;
    top: 50px;
}

footer{
    height: 10%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.space{
    width: 30%;
}


@media (max-width: 667px){

    body{
        height: 100vh;
        background: linear-gradient(rgb(95, 28, 1), rgb(115, 59, 37), rgb(95, 28, 1));

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .background{
        opacity: 30%;
        height: 250px;
        width: 370px;
        position: absolute;
      
        left: 4px;
        top: 190px;
    }

    
    header{
        height: 10%;
        width: 100%;
        padding: 10px;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .header-text{
        font-size: 25px;
        color: white;
    }

    main{
        height: 80%;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    .text{
        font-size: 25px;
        color: white;
        width: 150px;
        position: absolute;
        left: 135px;
    }

    .garrafa{
        height: 60%;
        position: absolute;
        left: -20px;
        top: 105px;
    }

    footer{
        height: 10%;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
    }

    .space{
        width: 20%;
    }
}